/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --rec-color: #FF0070;
  --decor-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --title-decor-bg-color: #FF0070;
  --section-title-color: #FF0070;
  --section-text-color: #F1B2CE;
  --link-color: #F1B2CE;
}